#text-notice {
	position: fixed;
	top: 10px;
	left: 10px;
	padding: 10px;
	background: #fff;
	z-index: 999999;
}

/* remove header 
div:has( > div > div > div > h2[role="heading"]) {
	display: none !important;
}*/